<div class="row">
	<div class="col-sm-12 text-center">
		<script>console.log('Index page');</script>
		<h1>Welcome</h1>
	</div>
	<div class="col-sm-12 text-center">
		<form id="user_form" method="post" action="/members/submit">				  
		  <input type="text" name="user" placeholder="username">
		  <input type="text" name="pass" placeholder="password">
		  <input type="submit" value="Submit">
		</form>
	</div>
</div>